.screen {
  margin: 15px 10px 5px 10px;
}

.screen-input {
  width: calc(100% - 4px);
  box-sizing: border-box;
  text-align: right;
  padding: 5px 10px;
  font-size: 18px;
  font-family: "Calculator", sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
}
